<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<!-- head tag -->
<div th:replace="/fragment/Head.html::head"></div>

<body>
	
	<!-- header tag -->
  	<div th:replace="/fragment/Header.html::header"></div>

	<!-- sidebar tag -->
  	<div th:replace="/fragment/SideBar.html::sidebar"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Asset</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Asset</li>
          <li class="breadcrumb-item active">Asset List</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
          
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Detail List</h5>

              <!-- Table with hoverable rows -->
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Sl.No.</th>
                    <th scope="col">Zone</th>
                    <th scope="col">Region</th>
                    <th scope="col">Div</th>
                    <th scope="col">Asset Id</th>
                    <th scope="col">Asset Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Asset Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">File</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="obj,iterator : ${page}">
                    <td th:text="${iterator.count}"></td>
                    <td th:text="${obj.zoneNo}"></td>
                    <td th:text="${obj.region}" th:attr="data-region=${obj.region}"></td>
                    <td th:text="${obj.divNo}" th:attr="data-divNo=${obj.divNo}"></td>
                    <td th:text="${obj.assetId}" th:attr="data-assetId=${obj.assetId}"></td>
                    <td th:text="${obj.assetName}" th:attr="data-assetName=${obj.assetName}"></td>
                    <td th:text="${obj.assetAddress}" th:attr="data-assetAddress=${obj.assetAddress}"></td>
                    <td th:text="${obj.assetType}" th:attr="data-assetType=${obj.assetType}"></td>
                    <td th:text="${obj.assetDate}" th:attr="data-assetDate=${obj.assetDate}"></td>
					<td><a href="#"><span th:text="${obj.assetFile}" th:attr="data-assetFile=${obj.assetFile}"></span></a></td>
                    <td><a href="#"><i class="bi bi-pen"></i></a></td> 
                  </tr>
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

<!-- Footer -->	
	<div th:replace="/fragment/Footer.html::footer	"></div>

<!-- Go to Top -->
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Footer -->	
	<div th:replace="/fragment/Js.html::js"></div>

</body>

</html>