<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<!-- head tag -->
<div th:replace="/fragment/Head.html::head"></div>

<script>
$(document).ready(function(){
$("#addAssetCharacteristic").click(function(){
	  $("#appendAssetCharacteristic").append("<div class='col-10'> "+ 
              "<label for='assetCharacteristic' class='form-label'> </label>"+
              "<input type='text' class='form-control' id='assetCharacteristic' >" +
              "</div>");
	});

$("#addAssetQuestion").click(function(){
	  $("#appendAssetQuestion").append("<div class='col-10'> "+ 
            "<label for='assetQuestion' class='form-label'> </label>"+
            "<input type='text' class='form-control' id='assetQuestion' >" +
            "</div>");
	});
	
$('#assetMasterEntryFormRest').click(function(){
    $('#assetMasterEntryForm')[0].reset();
});

});	
</script>
<body>
	
	<!-- header tag -->
  	<div th:replace="/fragment/Header.html::header"></div>

	<!-- sidebar tag -->
  	<div th:replace="/fragment/SideBar.html::sidebar"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Asset</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/asset/dashboard}">Home</a></li>
          <li class="breadcrumb-item">Master</li>
          <li class="breadcrumb-item active">Master Entry</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
   
<form th:action="@{/asset/master/entry/submit}" th:object="${masterObj}" method="POST" id="assetMasterEntryForm">    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Type Master Entry</h5>
				
				<div class="row g-3">
                <div class="col-md-4">
                  <label for="assetName" class="form-label">Asset Type Name</label>
                  <input type="text" class="form-control" id="masterName" th:field="*{masterName}">
                </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Parameters</h5>

				<div class="row g-3">
                <div class="col-10">
                  <label for="assetCharacteristic" class="form-label">Asset Parameters</label>
                  <input type="text" class="form-control" id="assetCharacteristic" >
                </div>
                
                <div class="col-2">
                  <button type='button' class="btn btn-primary" id='addAssetCharacteristic'>Add</button>
                </div>
                
                <div id='appendAssetCharacteristic'></div>
                
				</div>
            </div>
          </div>

        </div>
      </div>
    </section>
    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Feedback Questions</h5>

				<div class="row g-3">
                <div class="col-10">
                  <label for="assetQuestion" class="form-label">Asset Feedback Question</label>
                  <input type="text" class="form-control" id="assetQuestion" >
                </div>
                
                <div class="col-2">
                  <button type='button' class="btn btn-primary" id='addAssetQuestion'>Add</button>
                </div>
                
                <div id='appendAssetQuestion'></div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary" id='assetMasterEntryFormRest'>Reset</button>
                </div>
				</div>
            </div>
          </div>

        </div>
      </div>
    </section>
</form>
  </main><!-- End #main -->

 <!-- Footer -->	
	<div th:replace="/fragment/Footer.html::footer	"></div>

<!-- Go to Top -->
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Footer -->	
	<div th:replace="/fragment/Js.html::js"></div>

</body>

</html>