<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>        
	<link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.1.0/dist/geosearch.css"/>       
	<script src="https://unpkg.com/leaflet-geosearch@3.1.0/dist/bundle.min.js"></script>
	<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
	
<!-- head tag -->
<div th:replace="/fragment/Head.html::head"></div>

<body>
	
	<!-- header tag -->
  	<div th:replace="/fragment/Header.html::header"></div>

	<!-- sidebar tag -->
  	<div th:replace="/fragment/SideBar.html::sidebar"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Asset</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/asset/dashboard}">Home</a></li>
          <li class="breadcrumb-item">Asset</li>
          <li class="breadcrumb-item active">Asset Entry</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
 <form th:action="@{/asset/entry/submit}" th:object="${assetEntryObj}" method="POST">   
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Detail Entry</h5>

              <!-- <form class="row g-3"> -->
              <div class="row g-3">
                <div class="col-md-4">
                  <label for="zone" class="form-label">Zone</label>
                   <select th:field="*{zoneNo}" id="zoneNo" class="form-select" > </select>
                </div>
                <div class="col-md-4">
                  <label for="div" class="form-label">Div</label>
                   <select th:field="*{divNo}" id="divNo" class="form-select">
                    <option th:value="''">---Select Div---</option>
                    <option th:value="'001'">001</option>
                    <option th:value="'002'">002</option>
                    <option th:value="'003'">003</option>
                    <option th:value="'004'">004</option>
                    <option th:value="'005'">005</option>
                    <option th:value="'006'">006</option>
                    <option th:value="'007'">007</option>
                    <option th:value="'008'">008</option>
                    <option th:value="'009'">009</option>
                    <option th:value="'010'">010</option>
                    <option th:value="'011'">011</option>
                    <option th:value="'012'">012</option>
                    <option th:value="'013'">013</option>
                    <option th:value="'014'">014</option>
                    <option th:value="'015'">015</option>
                    <option th:value="'058'">058</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="assetType" class="form-label">Area</label>
                  <select id="assetType" class="form-select" th:field="*{assetArea}">
                    <option th:value="''">---Select Area---</option>
                    <option th:value="'Alandur'">Alandur</option>
                    <option th:value="'Adyar'">Adyar</option>
                    <option th:value="'Anna Nagar'">Anna Nagar</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="assetType" class="form-label">Locality</label>
                  <select id="assetType" class="form-select" th:field="*{assetLocality}">
                    <option th:value="''">---Select Locality---</option>
                    <option th:value="'Locality 1'">Locality 1</option>
                    <option th:value="'Locality 2'">Locality 2</option>
                    <option th:value="'Locality 3'">Locality 3</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="assetType" class="form-label">Street</label>
                  <select id="assetType" class="form-select" th:field="*{assetStreet}">
                    <option th:value="''">---Select Street---</option>
                    <option th:value="'Street 1'">Street 1</option>
                    <option th:value="'Street 2'">Street 2</option>
                    <option th:value="'Street 3'">Street 3</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="assetType" class="form-label">Asset Type</label>
                  <select id="assetType" class="form-select" th:field="*{assetType}">
                    <option th:value="''">---Select Asset Type---</option>
                    <option th:value="'Park'">Park</option>
                    <option th:value="'Amma Unavangam'">Amma Unavangam</option>
                    <option th:value="'Public Toilet'">Public Toilet</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="assetName" class="form-label">Name of the Asset</label>
                  <input type="text" class="form-control" id="assetName" th:field="*{assetName}">
                </div>
                <div class="col-md-4">
                  <label for="assetAddress" class="form-label">Address of the Asset</label>
                  <input type="text" class="form-control" id="assetAddress" th:field="*{assetAddress}">
                </div>
                
                <div class="col-md-4">
                  <label for="assetOpeningTime" class="form-label">Opening Timing</label>
                  <input type="time" class="form-control" id="assetOpeningTime" th:field="*{assetOpeningTime}">
                </div>
                <div class="col-md-4">
                  <label for="assetClosingTime" class="form-label">Closing Timing</label>
                  <input type="time" class="form-control" id="assetClosingTime" th:field="*{assetClosingTime}">
                </div>
                <div class="col-md-4">
                  <label for="assetGeoLocation" class="form-label">Latitude</label>
                  <!-- <input type="text" class="form-control" id="assetLatitude" onclick="getLocation()"> -->
                  <input type="text" class="form-control" id="assetLatitude" data-bs-toggle="modal" data-bs-target="#largeModal" readonly>
                </div> 
                <div class="col-md-4">
                  <label for="assetGeoLocation" class="form-label">Longitude</label>
                  <input type="text" class="form-control" id="assetLongitude" data-bs-toggle="modal" data-bs-target="#largeModal" readonly>
                </div> 
                
                <!-- Large Modal -->
              <div class="modal fade" id="largeModal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Location Search</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="GET"  target="iframe"  th:action="@{/asset/test/map}"  name="assetLocationForm" id="assetLocationForm">
							<div class="row g-3">
                				<div class="col-10">
                					<input type="hidden" id="hvmode" name="hvmode" value="R"  />   
			 						<input type="hidden" id="Type" name="Type" value=""  />  
                  					<label for="locname" class="form-label">Location Name</label>
                  					<input type="text" class="form-control" id="locationName" name="locationName" value='' onKeyPress="locationKeyPress();">
                				</div>
		                		<div class="text-center">
		                  			<button type="button" class="btn btn-primary" onClick="getLocation();">Search</button>
		                  			<button type="reset" class="btn btn-secondary">Reset</button>
		                		</div>
							</div>
						</form>
						
						<div>
					<div style="width: 100%; padding-top: 10px; height: 16pc;" id='mapid'>
					</div>
				</div>
				
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                    </div>
                  </div>
                </div>
              </div><!-- End Large Modal-->
              
              
                <div class="col-md-4">
                  <label for="assetFile" class="col-sm-4 col-form-label">File</label>
                  <div class="col-sm-12">
                    <input class="form-control" type="file" id="assetFile" th:field="*{assetFile}">
                  </div>
                </div> 
                <div class="col-md-4">
                  	<!-- <a th:href="@{'/asset/test'}"> -->
                <!-- <button type="button" class="btn btn-primary" onclick="geoLoactionMap();">Search</button> -->
                	<!-- </a> -->
                </div>
                
                
               
                </div>
              <!-- End Multi Columns Form -->

            </div>
          </div>

        </div>
      </div>
    </section>
    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Parameters</h5>

				<div class="row g-3">
                <div class="col-10">
                  <label for="assetQuestion" class="form-label">Asset Parameters</label>
                  <input type="text" class="form-control" id="assetQuestion" >
                </div>
                
                <div class="col-2">
                  <!-- span th:if="${obj.questionType}=='YesNo'"> -->
						<fieldset id="yesNo">
							<input class="form-check-input" type="radio" name="assetParameters" id="assetParameters" value="yes">
                    			<label class="form-check-label" for="assetParameters">Yes</label>
                      				<input class="form-check-input" type="radio" name="assetParameters" id="assetParameters" value="no">
                      			<label class="form-check-label" for="assetParameters">No</label>
                      	</fieldset>	
						<!-- </span> -->
                </div>
                
                <div id='appendAssetQuestion'></div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary" id='assetMasterEntryFormRest'>Reset</button>
                </div>
				</div>
            </div>
          </div>

        </div>
      </div>
    </section>
</form>    
    

  </main><!-- End #main -->

 <!-- Footer -->	
	<div th:replace="/fragment/Footer.html::footer	"></div>

<!-- Go to Top -->
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Footer -->	
	<div th:replace="/fragment/Js.html::js"></div>

</body>

<script>

function locationKeyPress(){
	return /[a-z, ]/i.test(event.key)
}

/* $(document).ready(function(){
	$("#map").hide();
});

function geoLoactionMap(){
	$("#map").show();
} */

function getLocation(){
	
	var locationName = $("#locationName").val();
	
	$.ajax({
			type : "GET",
			url : '/asset/entry/map',
			data : {
				'locationName' : locationName
			},
			dataType : 'json',
			success : function(hasMap) {
				var tempJson1 = hasMap['sLATITUDE'];
				var tempJson2 = hasMap['sLONGITUDE'];
					//alert("tempJson --1:" + tempJson1);
				$("#assetLatitude").val(tempJson1);
				$("#assetLongitude").val(tempJson2);
					//alert("tempJson --2:" + tempJson2);
					
				 var container = L.DomUtil.get('mapid');
				if (container != null) {
				container._leaflet_id = null;
				} 
				var map = L.map('mapid').setView([ tempJson1, tempJson2 ], 15);
				L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
					attribution : ''
				}).addTo(map);
				var marker = L.marker([ tempJson1, tempJson2 ]).addTo(map);
				var polygon = L.polygon(
						[ [ tempJson1, tempJson2 ], [ tempJson1, tempJson2 ],
								[ tempJson1, tempJson2 ] ]).addTo(map);
				
				var empty=L.tileLayer('');
				var osm = L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
					   attribution: ''
					}).setZIndex(-1);
		var googleHybrid = L.tileLayer('https://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
							maxZoom: 50,
							//subdomains:['mt0','mt1','mt2','mt3']
							subdomains:['mt2','mt3']
						}).setZIndex(-1);
		var googleStreets = L.tileLayer('https://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
							maxZoom: 50,
							//subdomains:['mt0','mt1','mt2','mt3']
							subdomains:['mt2','mt3']
						}).setZIndex(-1).addTo(map);
		var googleTerrain = L.tileLayer('https://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}',{
							maxZoom: 50,
						//	subdomains:['mt0','mt1','mt2','mt3']
							subdomains:['mt2','mt3']
						}).setZIndex(-1);
		
		var googleSat = L.tileLayer('https://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
							maxZoom: 50,
							//subdomains:['mt0','mt1','mt2','mt3']
							subdomains:['mt2','mt3']
						}).setZIndex(-1);	
						
				var baseLayers = {
					"No Basemap": empty,
					"Open Street": osm,
					"Google Streets":googleStreets,
					"Google Terrain":googleTerrain,
					"Google Hybrid":googleHybrid,
					"Google Satellite":googleSat,
		
				};
		
		var overlays = {
				};		
		var lctrl=L.control.layers(baseLayers, overlays,{collapsed:false}).addTo(map);
		
		
		var zone,division;
		
		var zoneStyle={
			fillColor: "yellow",
			weight: 2,
			opacity: 1,
			color: 'green',
			dashArray: '3',
			fillOpacity: 0.1
		  };
		  
		var zoneStyle_new={
			fillColor: "yellow",
			weight: 2,
			opacity: 1,
			color: 'red',
			dashArray: '3',
			fillOpacity: 0.1
		  };
		  
		var divStyle={
			fillColor: "white",
			weight: 1,
			opacity: 1,
			color: 'blue',
			dashArray: '3',
			fillOpacity: 0.1
		  };  
		
		var divStyle_new={
			fillColor: "white",
			weight: 1,
			opacity: 1,
			color: '#CC00CC',
			dashArray: '3',
			fillOpacity: 0.1
		  };  
		
		function onEachFeature(feature, layer){
				var popup = '';
				for (var clave in feature.properties) { 
				  popup += clave +':'+ feature.properties[clave]+'<br />';
				}
				layer.bindPopup(popup);
			 }

		$.getJSON("./assets/GCC_ZONE.geojson",function(data){
			// add GeoJSON layer to the map once the file is loaded
			zone=L.geoJson(
			data,
			{style: zoneStyle_new,
			onEachFeature: onEachFeature,
			 }
			).addTo(map);
			map.fitBounds(zone.getBounds());
			lctrl.addOverlay(zone, "<span style='color:red;'>New Zone </span>");
			
		});
		
		$.getJSON("/gcc/citizen-details/location-service/assets/GCC_ZONE.geojson",function(data){
			// add GeoJSON layer to the map once the file is loaded
			zone=L.geoJson(
			data,
			{style: zoneStyle,
			onEachFeature: onEachFeature,
			 }
			).addTo(map);
			map.fitBounds(zone.getBounds());
			lctrl.addOverlay(zone, "<span style='color:green;'>Exist Zone</span>");
			
		});
		
		$.getJSON("/gcc/citizen-details/location-service/assets/GCC_DIVISION.geojson",function(data){
			// add GeoJSON layer to the map once the file is loaded
		  division=L.geoJson(
			data,
			{style: divStyle,
			onEachFeature: onEachFeature,
			 }
			).addTo(map);
			lctrl.addOverlay(division, "<span style='color:blue;'>Exist Division </span> ");
		});
									   

		$.getJSON("./assets/GCC_DIVISION.geojson",function(data){
			// add GeoJSON layer to the map once the file is loaded
		  division=L.geoJson(
			data,
			{style: divStyle_new,
			onEachFeature: onEachFeature,
			 }
			).addTo(map);
			lctrl.addOverlay(division, "<span style='color:#CC00CC;'>New Division</span> ");
		});
			}
		});
	}
</script>

</html>