<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<!-- head tag -->
<div th:replace="/fragment/Head.html::head"></div>

<style>

.rating {
display: flex;
flex-direction: row-reverse;
justify-content: center;
}

.rating > input{
 display:none;
}

.rating > label {
position: relative;
right: 150px;
width: 1.1em;
font-size: 3vw;
color: #FFD700;
cursor: pointer;
}

.rating > label::before{
content: "\2605";
position: absolute;
opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
opacity: 1 !important;
}

.rating > input:checked ~ label:before{
opacity:1;
}

.rating:hover > input:checked ~ label:before{ 
opacity: 0.4;
 }
</style>
<script>

$(document).ready(function(){
	$("#tamilFeedback").hide();
	$("#englishFeedback").show();
	/* $('#rateMe3').mdbRate(); */
});

function viewEnglish() {
	$("#tamilFeedback").hide();
	$("#englishFeedback").show();
}
	
function viewTamil() {
	$("#englishFeedback").hide();
	$("#tamilFeedback").show();
}

</script>

<body class="toggle-sidebar">

<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            
            <div class="row g-12">
            <div class="col-md-2">
            <div class="d-flex align-items-center justify-content-between">
      			<a href="#" class="logo d-flex align-items-center">
      				<img src="/assets/img/tamilnadu-logo.png" style="max-height: 100px;">
      			</a>
    		</div><!-- End Logo -->
    		</div>
    		
    		<div class="col-md-8">
              <h5 class="card-title" style="position: relative; left: 260px;">Government of Tamil Nadu<br>
              &#2980;&#2990;&#3007;&#2996;&#3021;&#2984;&#3006;&#2975;&#3009; &#2949;&#2992;&#2970;&#3009;<br>
              &#2986;&#3014;&#2992;&#3009;&#2984;&#2965;&#2992; &#2970;&#3014;&#2985;&#3021;&#2985;&#3016; &#2990;&#3006;&#2984;&#2965;&#2992;&#3006;&#2975;&#3021;&#2970;&#3007;</h5>
			</div>
			
			<div class="col-md-2">
            <div class="d-flex align-items-center justify-content-between">
      			<a href="#" class="logo d-flex align-items-center">
					<img src="/assets/img/logo.png" style="max-height: 100px; position: relative; left: 120px;">        					
      			</a>
    		</div><!-- End Logo -->
    		</div>
            </div>
          </div>

        </div>
      </div>
    </section>
	<!-- header tag -->
	<!-- <div th:replace="/fragment/Header.html::header"></div> -->

	<!-- sidebar tag -->
	<!-- <div th:replace="/fragment/SideBar.html::sidebar"></div> -->

	<main id="main" class="main" style="position: relative; bottom: 90px;">

		<div class="pagetitle">
			<h1>FEEDBACK FORM</h1>
			<nav>
				<!-- <ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">Public View</li>
					<li class="breadcrumb-item active">Feedback Form</li>
				</ol> -->
			</nav>
		</div>
		<!-- End Page Title -->
<form  th:action="@{/asset/feedback/form/submit}" method="POST">
		<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Public Details</h5>

              <!-- <form class="row g-3"> -->
              
              <div class="row g-3">
                <div class="col-md-3">
                  <label for="publicName" class="form-label">Name (Optional)</label>
                  <input type="text" class="form-control" id="publicName" >
                </div>
                <div class="col-md-3">
                  <label for="mobileNo" class="form-label">Mobile No.</label>
                  <input type="text" class="form-control" maxlength="10" id="mobileNo">
                </div>
                <div class="col-md-1">
                <label for="mobileNo" class="form-label"></label>
                <!-- <a th:href="@{'/asset/feedback/sendOtp/mobileNo='+ ${obj.mobileNo}}"> -->
                <!-- <a th:href="@{'/asset/feedback/sendOtp'}"> -->
                <button type="button" class="btn btn-primary" onclick="sendOtp();">Send OTP</button>
                <!-- </a> -->
                </div>
                <div class="col-md-3">
                  <label for="otp" class="form-label">OTP</label>
                  <input type="text" class="form-control" maxlength="5" id="otp">
                </div>
                <div class="col-md-1">
                <label for="verifyOtp" class="form-label"></label>
                <!-- <a th:href="@{'/asset/feedback/verifyOtp'}"> -->
                <button type="button" class="btn btn-success" onclick="verifyOtp();">Verify OTP</button>
                <!-- </a> -->
                </div>
                <div class="text-center">
                </div>
              </div><!-- End Multi Columns Form -->
              
              <div>
              	<span>
					<fieldset id="englishTamil">
						<input class="form-check-input" type="radio" name="englishTamil" id="englishTamil" value="english" onclick="viewEnglish()">
                    		<label class="form-check-label" for="english">
                    			English
                    		</label>
                    	<input class="form-check-input" type="radio" name="englishTamil" id="englishTamil" value="tamil" onclick="viewTamil()">
                    		<label class="form-check-label" for="tamil">
                    			Tamil
                    		</label>
                    </fieldset>	
				</span>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>
    
		<section class="section" id="englishFeedback">
			<div class="row">

				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Feedback Form</h5>

							<!-- Table with hoverable rows -->
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th scope="col">Sl.No.</th>
										<th scope="col">Question</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="obj,iterator : ${page}">
										<td th:text="${iterator.count}"></td>
										<td th:utext="${obj.masterQuestionEnglish}" th:attr="data-masterQuestionEnglish=${obj.masterQuestionEnglish}">
										</td>
										
										<td>
											<span th:if="${obj.masterQuestionType}=='YesNo'">
											<fieldset id="yesNo">
											<input class="form-check-input" type="radio" name="feedback" id="feedback" value="yes">
                      							<label class="form-check-label" for="feedback1">
                        							Yes
                      							</label>
                      						<input class="form-check-input" type="radio" name="feedback" id="feedback" value="no">
                      							<label class="form-check-label" for="feedback2">
                        							No
                      							</label>
                      						</fieldset>	
											</span>
											
											<span th:if="${obj.masterQuestionType}=='GoodAverageBad'">
											<fieldset id="goodAverageBad">
											<input class="form-check-input" type="radio" name="feedback" id="feedback" value="good">
                      							<label class="form-check-label" for="GoodAverageBad1">
                        							Good
                      							</label>
                      						<input class="form-check-input" type="radio" name="feedback" id="feedback" value="average">
                      							<label class="form-check-label" for="GoodAverageBad2">
                        							Bad
                      							</label>
                      						<input class="form-check-input" type="radio" name="feedback" id="feedback" value="bad">
                      							<label class="form-check-label" for="GoodAverageBad3">
                        							Average
                      							</label>
                      						</fieldset>			
											</span>
										</td>
										
									</tr>
								</tbody>
							</table>

						</div>
					</div>

				</div>
			</div>
		</section>
		
		<section class="section" id="tamilFeedback">
			<div class="row">

				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">&#2965;&#2992;&#3009;&#2980;&#3021;&#2980;&#3009;&#2965;&#2995;&#3016; &#2980;&#3014;&#2992;&#3007;&#2997;&#3007;&#2965;&#3021;&#2965;</h5>

							<!-- Table with hoverable rows -->
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th scope="col">&#2958;&#2979;&#3021;</th>
										<th scope="col">&#2965;&#3015;&#2995;&#3021;&#2997;&#3007;&#2965;&#2995;&#3021;</th>
										<th scope="col">&#2970;&#3014;&#2991;&#2994;&#3021;</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="obj,iterator : ${page}">
										<td th:text="${iterator.count}"></td>
										<td th:utext="${obj.masterQuestionTamil}" th:attr="data-masterQuestionTamil=${obj.masterQuestionTamil}"></td>
										
										<td>
											<span th:if="${obj.masterQuestionType}=='YesNo'">
											<fieldset id="yesNo">
											<input class="form-check-input" type="radio" name="feedback" id="feedback" value="yes">
                      							<label class="form-check-label" for="feedback1">
                        							&#2950;&#2990;&#3021;
                      							</label>
                      						<input class="form-check-input" type="radio" name="feedback" id="feedback" value="no">
                      							<label class="form-check-label" for="feedback2">
                        							&#2951;&#2994;&#3021;&#2994;&#3016;
                      							</label>
                      						</fieldset>	
											</span>
											
											<span th:if="${obj.masterQuestionType}=='GoodAverageBad'">
											<fieldset id="goodAverageBad">
											<input class="form-check-input" type="radio" name="feedback" id="feedback" value="good">
                      							<label class="form-check-label" for="GoodAverageBad1">
                        							&#2984;&#2994;&#3021;&#2994;
                      							</label>
                      						<input class="form-check-input" type="radio" name="feedback" id="feedback" value="average">
                      							<label class="form-check-label" for="GoodAverageBad2">
                        							&#2990;&#3019;&#2970;&#2990;&#3006;&#2985;
                      							</label>
                      						<input class="form-check-input" type="radio" name="feedback" id="feedback" value="bad">
                      							<label class="form-check-label" for="GoodAverageBad3">
                        							&#2970;&#2992;&#3006;&#2970;&#2992;&#3007;
                      							</label>
                      						</fieldset>			
											</span>
										</td>
										
									</tr>
								</tbody>
							</table>

							<!-- <div class="col-5">
                  				<label for="inputNumber" class="col-sm-4 col-form-label">&#2965;&#3015;&#3006;&#2986;&#3021;&#2986;&#3009; &#2986;&#2980;&#3007;&#2997;&#3015;&#2993;&#3021;&#2993;&#2990;&#3021;</label>
                  				<div class="col-sm-10">
                    				<input class="form-control" type="file" id="complaintFile">
                  				</div>
                			</div>	 
							<div class="text-center">
								<button type="submit" class="btn btn-primary">&#2970;&#2990;&#2992;&#3021;&#2986;&#3021;&#2986;&#3007;&#2965;&#3021;&#2965;</button>
								<button type="reset" class="btn btn-secondary">&#2990;&#3008;&#2975;&#3021;&#2975;&#2990;&#3016;</button>
							</div> -->

						</div>
					</div>

				</div>
			</div>
		</section>
		
		<section class="section">
			<div class="row">

				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">

							<!-- <div class="col-5">
                  				<label for="inputNumber" class="col-sm-4 col-form-label">&#2965;&#3015;&#3006;&#2986;&#3021;&#2986;&#3009; &#2986;&#2980;&#3007;&#2997;&#3015;&#2993;&#3021;&#2993;&#2990;&#3021;</label>
                  				<div class="col-sm-10">
                    				<input class="form-control" type="file" id="complaintFile">
                  				</div>
                			</div>	 
							<div class="text-center">
								<button type="submit" class="btn btn-primary">&#2970;&#2990;&#2992;&#3021;&#2986;&#3021;&#2986;&#3007;&#2965;&#3021;&#2965;</button>
								<button type="reset" class="btn btn-secondary">&#2990;&#3008;&#2975;&#3021;&#2975;&#2990;&#3016;</button>
							</div> -->
							
							 <div class="col-5">
                  				<label for="complaintFile" class="col-sm-4 col-form-label">File</label>
                  				<div class="col-sm-6">
                    				<input class="form-control" type="file" id="complaintFile">
                  				</div>
                  			<!--	
                  				<label for="feedbackRating" class="col-sm-4 col-form-label">Rating</label>
                  				<div class="col-sm-4">
                  					<div class="container">
  										<span id="rateMe3"  class="rating-faces"></span>
									</div>
                  				</div>
                			</div> -->
                			
                			<label for="rating">Please give us rating</label>
                			<div class="rating">
  								<input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
  								<input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
  								<input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
  								<input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
  								<input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
							</div>
         
		</div>
  
		</div>
                				 
							<div class="text-center">
								<!-- <a th:href="@{'/asset/feedback/entry/complaint}"><button type="button" class="btn btn-warning">Complaint</button></a> -->
								<a th:href="@{/asset/feedback/entry/complaint}"><button type="button" class="btn btn-warning">Complaint</button></a>
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-secondary">Reset</button>
							</div>

						</div>
					</div>
		</section>
</form>
	</main>
	<!-- End #main -->

	<!-- Footer -->
	<div th:replace="/fragment/Footer.html::footer"></div>

	<!-- Go to Top -->
	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Footer -->	
	<div th:replace="/fragment/Js.html::js"></div>
  
</body>

</html>