<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<!-- head tag -->
<div th:replace="/fragment/Head.html::head"></div>

<body>
	
	<!-- header tag -->
  	<div th:replace="/fragment/Header.html::header"></div>

	<!-- sidebar tag -->
  	<div th:replace="/fragment/SideBar.html::sidebar"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Asset</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/asset/dashboard}">Home</a></li>
          <li class="breadcrumb-item">Asset</li>
          <li class="breadcrumb-item active">Asset Entry</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
 <form th:action="@{/asset/entry/submit}" th:object="${assetEntryObj}" method="POST">   
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Detail Entry</h5>

              <!-- <form class="row g-3"> -->
              <div class="row g-3">
                <div class="col-md-4">
                  <label for="zone" class="form-label">Zone</label>
                   <select th:field="*{zoneNo}" id="zoneNo" class="form-select" > </select>
                </div>
                <div class="col-md-4">
                  <label for="div" class="form-label">Div</label>
                   <select th:field="*{divNo}" id="divNo" class="form-select">
                    <option th:value="''">---Select Div---</option>
                    <option th:value="'001'">001</option>
                    <option th:value="'002'">002</option>
                    <option th:value="'003'">003</option>
                    <option th:value="'004'">004</option>
                    <option th:value="'005'">005</option>
                    <option th:value="'006'">006</option>
                    <option th:value="'007'">007</option>
                    <option th:value="'008'">008</option>
                    <option th:value="'009'">009</option>
                    <option th:value="'010'">010</option>
                    <option th:value="'011'">011</option>
                    <option th:value="'012'">012</option>
                    <option th:value="'013'">013</option>
                    <option th:value="'014'">014</option>
                    <option th:value="'015'">015</option>
                    <option th:value="'058'">058</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="assetType" class="form-label">Area</label>
                  <select id="assetType" class="form-select" th:field="*{assetArea}">
                    <option th:value="''">---Select Area---</option>
                    <option th:value="'Alandur'">Alandur</option>
                    <option th:value="'Adyar'">Adyar</option>
                    <option th:value="'Anna Nagar'">Anna Nagar</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="assetType" class="form-label">Locality</label>
                  <select id="assetType" class="form-select" th:field="*{assetLocality}">
                    <option th:value="''">---Select Locality---</option>
                    <option th:value="'Locality 1'">Locality 1</option>
                    <option th:value="'Locality 2'">Locality 2</option>
                    <option th:value="'Locality 3'">Locality 3</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="assetType" class="form-label">Street</label>
                  <select id="assetType" class="form-select" th:field="*{assetStreet}">
                    <option th:value="''">---Select Street---</option>
                    <option th:value="'Street 1'">Street 1</option>
                    <option th:value="'Street 2'">Street 2</option>
                    <option th:value="'Street 3'">Street 3</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="assetType" class="form-label">Asset Type</label>
                  <select id="assetType" class="form-select" th:field="*{assetType}">
                    <option th:value="''">---Select Asset Type---</option>
                    <option th:value="'Park'">Park</option>
                    <option th:value="'Amma Unavangam'">Amma Unavangam</option>
                    <option th:value="'Public Toilet'">Public Toilet</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="assetName" class="form-label">Name of the Asset</label>
                  <input type="text" class="form-control" id="assetName" th:field="*{assetName}">
                </div>
                <div class="col-md-4">
                  <label for="assetAddress" class="form-label">Address of the Asset</label>
                  <input type="text" class="form-control" id="assetAddress" th:field="*{assetAddress}">
                </div>
                
                <div class="col-md-4">
                  <label for="assetOpeningTime" class="form-label">Opening Timing</label>
                  <input type="time" class="form-control" id="assetOpeningTime" th:field="*{assetOpeningTime}">
                </div>
                <div class="col-md-4">
                  <label for="assetClosingTime" class="form-label">Closing Timing</label>
                  <input type="time" class="form-control" id="assetClosingTime" th:field="*{assetClosingTime}">
                </div>
                <div class="col-md-4">
                  <label for="assetGeoLocation" class="form-label">Latitude</label>
                  <input type="text" class="form-control" id="assetLatitude" onclick="getLocation()">
                </div> 
                <div class="col-md-4">
                  <label for="assetGeoLocation" class="form-label">Longitude</label>
                  <input type="text" class="form-control" id="assetLongitude">
                </div> 
                <div class="col-md-4">
                  <label for="assetFile" class="col-sm-4 col-form-label">File</label>
                  <div class="col-sm-12">
                    <input class="form-control" type="file" id="assetFile" th:field="*{assetFile}">
                  </div>
                </div> 
                <div class="col-md-4">
                  	<!-- <a th:href="@{'/asset/test'}"> -->
                <button type="button" class="btn btn-primary" onclick="geoLoactionMap();">Search</button>
                	<!-- </a> -->
                </div>
                
                
               
                </div>
              <!-- End Multi Columns Form -->

            </div>
          </div>

        </div>
      </div>
    </section>
    
    <section class="section" id='map'>
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Location Search</h5>
					<form method="GET"  target="iframe"  action="./find_zone_map.jsp"  name="assetLocationForm" id="assetLocationForm">
				<div class="row g-3">
                <div class="col-10">
                  <label for="locname" class="form-label">Location Name</label>
                  <input type="text" class="form-control" id="locname" name="locname" value='' onKeyPress="return /[a-z, ]/i.test(event.key)">
                </div>
                
                <div class="text-center">
                  <button type="button" class="btn btn-primary" onClick="return fnSearch();">Search</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
				</div>
				</form>
				<div id="iframe" style="width: 100%;padding-top: 10px;">
				<!-- <%if(latitude.equals("") || longitude.equals("")){%> -->
				<iframe name="iframe" scrolling="yes" frameborder="1" marginheight="0px" marginwidth="0px" height="600px"  overflow-y="scrolling" width="100%" allowfullscreen src="./find_zone_map.jsp"></iframe>
				<!-- <%} else {%> -->
				<!-- <iframe name="iframe" scrolling="yes" frameborder="1" marginheight="0px" marginwidth="0px" height="600px"  overflow-y="scrolling" width="100%" allowfullscreen src="./find_zone_map.jsp?hvmode=R&Type=<%=sType%>&latitude=<%=latitude%>&longitude=<%=longitude%>&locname="></iframe> -->
				<!-- <%}%> -->
			</div>
			
            </div>
          </div>

        </div>
      </div>
    </section>
    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Parameters</h5>

				<div class="row g-3">
                <div class="col-10">
                  <label for="assetQuestion" class="form-label">Asset Parameters</label>
                  <input type="text" class="form-control" id="assetQuestion" >
                </div>
                
                <div class="col-2">
                  <!-- span th:if="${obj.questionType}=='YesNo'"> -->
						<fieldset id="yesNo">
							<input class="form-check-input" type="radio" name="assetParameters" id="assetParameters" value="yes">
                    			<label class="form-check-label" for="assetParameters">Yes</label>
                      				<input class="form-check-input" type="radio" name="assetParameters" id="assetParameters" value="no">
                      			<label class="form-check-label" for="assetParameters">No</label>
                      	</fieldset>	
						<!-- </span> -->
                </div>
                
                <div id='appendAssetQuestion'></div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary" id='assetMasterEntryFormRest'>Reset</button>
                </div>
				</div>
            </div>
          </div>

        </div>
      </div>
    </section>
</form>    
    

  </main><!-- End #main -->

 <!-- Footer -->	
	<div th:replace="/fragment/Footer.html::footer	"></div>

<!-- Go to Top -->
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Footer -->	
	<div th:replace="/fragment/Js.html::js"></div>

</body>

<script>
var x = document.getElementById("assetGeoLocation");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
	var lat=position.coords.latitude;
	var lon=position.coords.longitude;
	
	$("#assetGeoLocation").val(lat);
	$("#assetGeoLocation").val(lon);
 
	/* x.innerHTML = "Latitude: " + position.coords.latitude +  "<br>Longitude: " + position.coords.longitude; */
  
  
}

$(document).ready(function(){
	$("#map").show();
});

function geoLoactionMap(){
	$("#map").show();
}

function fnSearch()
{
	var vlocname = document.getElementById("locname").value;
	
	vlocname =  vlocname.trim();
	if (vlocname == "")
	{
		alert('Location is required');
		document.getElementById("locname").focus();
		return false;
	}	

		$("#iframe").show();
		$( "#assetLocationForm" ).submit();
}
</script>

</html>