<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<!-- head tag -->
<div th:replace="fragment/Head.html::head"></div>

<script>
		$( document ).ready(function() {
			//$("myModal").hide();
		});
		function generate() {
			$("myModal").show();
			var typeNumber = 4;
			var errorCorrectionLevel = 'L';
			var qr = qrcode(typeNumber, errorCorrectionLevel);
			/* var inputText = document.getElementById('url').value; */
			var assetType = $('#assetType').val();
			var assetId = $('#assetId').val();
			//var inputText = "http://192.168.29.19:9090/asset/feedback/qrCode/assetType='"+ assetType + "'/assetId='"+ assetId + "'";
			var inputText = "http://192.168.29.19:9090/asset/feedback/entry";
			//var inputText ="www.google.com";
			qr.addData(inputText);
			qr.make();
			document.getElementById('placeHolder').innerHTML = qr.createImgTag();
			canvasScreen();
		}
		downloadQrCode = function(el) {
			var canvas = document.getElementById("myCanvas");
			var image = canvas.toDataURL("image/png");
			el.href = image;
		};
		function canvasScreen() {
			var a = document.getElementsByTagName("img")[2];
			a.setAttribute("id", "qrcode");
			var canvas = document.getElementById("myCanvas");
			var ctx = canvas.getContext("2d");
			var img = document.getElementById("qrcode");
			ctx.drawImage(img, 70, 0, 150, 150);
			document.getElementById("dBtn").style.display = "block";
		}
		function addAssetId($this) {
			var typevalue = $this.value;
			var tempURL = "http://127.0.0.1:9090/asset/feedback/qrCode/assetId='"+ typevalue + "'";
			$('#url').val(tempURL);
		}
</script>

<body>

	<!-- header tag -->
	<div th:replace="fragment/Header.html::header"></div>

	<!-- sidebar tag -->
	<div th:replace="fragment/SideBar.html::sidebar"></div>

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Asset</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">Feedback</li>
					<li class="breadcrumb-item active">QR Code Generation</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
			<div class="card">
            <div class="card-body">
              <h5 class="card-title">QR Code Generation</h5>

              <!-- <form class="row g-3"> -->
              <form class="row g-3" th:action="@{/asset/feedback/qrcode/search}" th:object="${qrCodeObj}" method="POST" >
              	<!-- <div class="col-md-4">
                  <label for="assetType" class="form-label">Asset Type</label>
                  <select id="assetType" class="form-select" th:field="*{assetType}">
                    <option th:value="''"> </option>
                    <option th:value="'Park'">Park</option>
                    <option th:value="'Amma Unavangam'">Amma Unavangam</option>
                    <option th:value="'Public Toilet'">Public Toilet</option>
                  </select>
                </div> -->
                
                <div class="col-md-4">
                  <label for="assetType" class="form-label">Asset Type</label>
                  <select id="assetType" class="form-select" th:field="*{assetType}">
                    <option th:value="''">---Select Asset Type---</option>
                    <option th:value="'Park'">Park</option>
                    <option th:value="'Amma Unavangam'">Amma Unavangam</option>
                    <option th:value="'Public Toilet'">Public Toilet</option>
                  </select>
                </div>
                
                <div class="col-4">
                  <label for="assetId" class="form-label">Asset Id</label>
                  <input type="text" class="form-control" id="assetId" th:field="*{assetId}" onchange="addAssetId(this);">
                </div>
                
                <div class="col-6"> </div>
                
                <input type="text" class="form-control" id="url" name="url" hidden>
                
                <div class="text-center">
                  <!-- <button type="button" class="btn btn-success" onclick="generate();">Generate QR</button> -->
                  <button type="button" class="btn btn-success">Search</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->

            </div>
          </div>
          
			</div>
		</section>
	
	<section class="section">
      <div class="row">
          
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Feedback List</h5>

              <!-- Table with hoverable rows -->
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Sl.No.</th>
                    <th scope="col">Feedback Form Id</th>
                    <th scope="col">Asset Type</th>
                    <th scope="col">Asset Id</th>
                    <th scope="col">QR Generation</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="obj,iterator : ${page}">
                    <td th:text="${iterator.count}"></td>
                    <td th:text="${obj.feedbackId}" th:attr="data-feedbackId=${obj.feedbackId}"></td>
                    <td th:text="${obj.assetType}" th:attr="data-assetType=${obj.assetType}" id='assetType'></td>
                    <td th:text="${obj.assetId}" th:attr="data-assetId=${obj.assetId}" id='assetId'></td>
                    <td>
                    	<span onclick="generate();">
                    		<i class="bi bi-qr-code"></i>
                    	</span>
                    	<span>
                    	<a href="#" onclick="downloadQrCode(this);" download="QRcode.png"> 
                    		<i class="bi bi-download"></i>
                    		</a> 
                    	</span>
                    </td>
                    <td>	
                    	<a th:href="@{'/asset/feedback/qrcode/edit/'+ ${obj.assetId}}">
                    		<i class="bi bi-pen"></i>
                    	</a>
                    </td> 
                  </tr>
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
    
    
     <!-- <div class="row" id="myModal">
		<div class="col-sm-5"></div>
			<div class="col-sm-2">
				<div class="card"> -->
					<div id="dBtn">
						<div id="placeHolder"></div>
							<canvas id="myCanvas"> </canvas>
							<br> 
							<div class="text-center">
							</div>
							<!-- <a href="#" class="btn btn-danger btn-lg" onclick="downloadQrCode(this);" download="QRcode.png"> Download </a> -->
						</div>
					<!-- </div>
				</div>
			<div class="col-sm-5"></div>
		</div>	  -->
		
			

	</main>
	<!-- End #main -->

	<!-- Footer -->
	<div th:replace="fragment/Footer.html::footer	"></div>

	<!-- Go to Top -->
	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Footer -->
	<div th:replace="fragment/Js.html::js"></div>
	
</body>

</html>