<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<!-- head tag -->
<div th:replace="/fragment/Head.html::head"></div>

<script>
$(document).ready(function(){
	
	
$("#addParameters").click(function(){
	var size = 0;
	size++; 
	
	
	
	  $("#appendParameters").append("<div class='col-10'> "+ 
              "<label for='masterParameters' class='form-label'> </label>"+
              "<input type='text' class='form-control' id='masterParameters_"+size+"' name='masterParameters_"+size+"'>" +
              "</div>");
	});

/* $("#addAssetQuestion").click(function(){
	  $("#appendAssetQuestion").append("<div class='col-10'> "+ 
            "<label for='assetQuestion' class='form-label'> </label>"+
            "<input type='text' class='form-control' id='assetQuestion' >" +
            "</div>");
	}); */
	
	$("#addAssetQuestion").click(function(){
		  $("#appendAssetQuestion").append("<div class='col-10'> "+ 
				"<label for='assetQuestion' class='form-label'>English</label>"+
		        "<input type='text' class='form-control' id='assetQuestion' >" +
				"<label for='assetQuestion' class='form-label'>&#2980;&#2990;&#3007;&#2996;&#3021;</label>"+
				"<input type='text' class='form-control' id='assetQuestion'>"+
	            "</div>");
		});	
	
$('#assetMasterEntryFormRest').click(function(){
    $('#assetMasterEntryForm')[0].reset();
});

});	
</script>
<body>
	
	<!-- header tag -->
  	<div th:replace="/fragment/Header.html::header"></div>

	<!-- sidebar tag -->
  	<div th:replace="/fragment/SideBar.html::sidebar"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Asset</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/asset/dashboard}">Home</a></li>
          <li class="breadcrumb-item">Master</li>
          <li class="breadcrumb-item active">Master Entry</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
   
<form th:action="@{/asset/master/entry/submit}"  method="POST" id="assetMasterEntryForm">    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Type Master Entry</h5>
				
				<div class="row g-3">
                <div class="col-md-4">
                  <label for="assetName" class="form-label">Asset Type Name</label>
                  <input type="text" class="form-control" id="masterName" th:object="${masterList}" th:field="*{masterName}">
                </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Parameters</h5>
				<div class="row g-3">
                <div class="col-10">
                  <label for="assetParameters" class="form-label">Asset Parameters</label>
                  <!-- <input type="text" class="form-control" id="masterParameters" th:field="*{masterParametersList.masterParameters}" required> -->
                  <input type="text" class="form-control" id="masterParameters" required>
                </div>
                
                <div class="col-2">
                  <button type='button' class="btn btn-primary" id='addParameters' style="position: relative; top: 30px;">
                  	<i class="bi bi-plus"></i>
                  </button>
                </div>
                
                <div id='appendParameters'></div>
                
				</div>
            </div>
          </div>

        </div>
      </div>
    </section>
    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asset Feedback Questions</h5>

				<div class="row g-3">
                <div class="col-10">
                	<label for="assetQuestionEnglish" class="form-label">English</label>
                  	<input type="text" class="form-control" id="masterQuestionEnglish" th:object="${masterDetailList}" th:field="*{masterQuestionEnglish}" required>
                  
                  	<label for="assetQuestionTamil" class="form-label">&#2980;&#2990;&#3007;&#2996;&#3021;</label>
                  	<input type="text" class="form-control" id="masterQuestionTamil" th:object="${masterDetailList}" th:field="*{masterQuestionTamil}" required>
                </div>
                
                <div class="col-2">
                  <button type='button' class="btn btn-primary" id='addAssetQuestion' style="position: relative; top: 30px;">
                  	<i class="bi bi-plus"></i>
                  </button>
                  
                </div>
                
                <div id='appendAssetQuestion'></div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary" id='assetMasterEntryFormRest'>Reset</button>
                </div>
				</div>
            </div>
          </div>

        </div>
      </div>
    </section>
</form>
  </main><!-- End #main -->

<!-- Footer -->	
	<div th:replace="/fragment/Footer.html::footer	"></div>

<!-- Go to Top -->
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Footer -->	
	<div th:replace="/fragment/Js.html::js"></div>

</body>

</html>