/* #placeHolder {
	display: none;
}

button.center-block {
	margin-top: 20px;
	display: block;
	width: 60%;
	line-height: 2em;
	background: rgba(114, 212, 202, 1);
	border-radius: 5px;
	border: 0;
	border-top: 1px solid #B2ECE6;
	box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
	color: #FFFFFF;
	font-size: 1.5em;
	text-align: center;
	text-shadow: 0 1px 2px #21756A;
}

button.center-block:hover {
	background: linear-gradient(to bottom, rgba(107, 198, 186, 1) 0%,
		rgba(57, 175, 154, 1) 100%);
}

button.center-block:active {
	box-shadow: inset 0 0 5px #000;
	background: linear-gradient(to bottom, rgba(57, 175, 154, 1) 0%,
		rgba(107, 198, 186, 1) 100%);
}

button.center-block:focus {
	outline: none;
	border-color: green;
}

canvas {
	width: 200px;
}

#dBtn {
	display: none;
}

h1#heading {
	font-family: 'Major Mono Display', monospace;
}

body {
	background-color: #ebf1fa;
	justify-content: center;
	font-family: 'VT323', monospace;
	font-size: 1.5rem;
	color: black;
	margin: 20px;
	text-align: center;
}

h1 {
	font-weight: normal;
	font-size: 40px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	text-align: center;
	color: #46a294;
	font-size: 28px;
	width: 100%;
	margin: 10px 10;
	position: relative;
	line-height: 58px;
	font-weight: 400;
}

h2:before {
	content: " ";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100px;
	height: 2px;
	font-weight: bold;
	background-color: #2079df;
	margin-left: -50px;
}

label {
	color: #858585;
	font-weight: 600;
	font-size: 14px;
	padding-left: 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: system-ui;
}

stylesheet.css
.btn-payment-payment {
  background-color: #175D7B;
  color: white;
  font-size: 13px;
  border-radius: 6px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 400;
  margin-left: -30px!important;
}

stylesheet.css
.btn-enquiry {
  background-color: #EBEBEB;
  color: black;
  font-size: 13px;
  border-radius: 6px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 400;
  margin-right: 10px!important;
} */

/* .bg {
  The image used
  background: url("../../assets/img/Loop-twinkle.gif");	
  Full height
  height: 100%; 
  width:100%;

  Center and scale the image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1 {
  The image used
  background-image: url("../../assets/img/greater-chennai-corporation.jpg");
  Full height
  height: 100%; 
  width:100%;

  Center and scale the image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */